.jobPosting {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.paper {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-9));
  background-color: light-dark(var(--mantine-color-orange-1), var(--mantine-color-orange-2));
}

.button {
  background: var(--mantine-color-orange-6);
}
