/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./components/JobList/JobPosting.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.JobPosting_jobPosting__UD2Tt {
  color: var(--mantine-color-black);
}
  [data-mantine-color-scheme='dark'] .JobPosting_jobPosting__UD2Tt {
  color: var(--mantine-color-white);
}
  .JobPosting_jobPosting__UD2Tt {
  font-size: calc(6.25rem * var(--mantine-scale));
  font-weight: 900;
  letter-spacing: calc(-0.125rem * var(--mantine-scale));
}

  @media (max-width: 62em) {.JobPosting_jobPosting__UD2Tt {
    font-size: calc(3.125rem * var(--mantine-scale))
}
  }

.JobPosting_paper___Ts4r {
  color: var(--mantine-color-gray-7);
}

[data-mantine-color-scheme='dark'] .JobPosting_paper___Ts4r {
  color: var(--mantine-color-gray-9);
}

.JobPosting_paper___Ts4r {
  background-color: var(--mantine-color-orange-1);
}

[data-mantine-color-scheme='dark'] .JobPosting_paper___Ts4r {
  background-color: var(--mantine-color-orange-2);
}

.JobPosting_button__U3nG_ {
  background: var(--mantine-color-orange-6);
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./components/MainAppShell/Footer.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__s6aTX {
    margin-top: calc(3.125rem * var(--mantine-scale));
    margin-bottom: calc(-3.125rem * var(--mantine-scale));
    border-top: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-2);
  }
    [data-mantine-color-scheme='dark'] .Footer_footer__s6aTX {
    border-top: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-5);
}
  
  .Footer_inner__4W0HL {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
  }
  
  @media (max-width: 36em) {
  
  .Footer_inner__4W0HL {
      flex-direction: column
  }
    }
  
  @media (max-width: 36em) {
  
  .Footer_links__rPBbK {
      margin-top: var(--mantine-spacing-md)
  }
    }
